<html>
<head>
    <title>Encuentro aceptado</title>
</head>
<body>
<img src="@@{'/public/images/favicon.png'}"/>
<p>Hola ${encuentro.tema.experto.username} (${encuentro.tema.experto.email}) y ${encuentro.interesado.username} (${encuentro.interesado.email}),<br/>
    120minutos.org os pone en contacto para que podrais quedar y tener vuestro encuentro sobre ${encuentro.tema.titulo} <br/>
    Una vez se haya producido recordad volver a 120minutos.org para marcarlo como finalizado y puntuarlo.<br/>
</p>
</body>
</html>