
/*** Estilos de uso general **/

.row-mini-top-separator {
	margin-top: 5px;
}

.row-top-separator {
	margin-top: 20px;
}

.row-bottom-separator{
	margin-bottom: 20px;
}

.row-extra-bottom-separator{
    margin-bottom: 60px;
}

.row-top-bottom-separator {
	margin-top: 20px;
	margin-bottom: 20px;
}

.span-center {
	margin: 0 auto;
	float: none;
	text-align: center;
}

.padding10px{
	padding: 10px;
}

.padding20px{
	padding: 20px;
}

.padding50px{
	padding: 50px;
}

.grey-background{
	background-color:#EAEEEF;
}

.white-background{
	background-color:#FFFFFF;
}

.color-white{
	color: white;
}

.color-orange{
	color: #f60;
}

.color-green{
	color: #1E7681;
}

.icon-17px{
	font-size: 17px;
}

.icon-24px{
	font-size: 24px;
}

.condensed{
	font-family: 'Open Sans Condensed', sans-serif;
}

/*** Estilos principales ***/

body{
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	color: #314351;
}

header{
	background-image: url("../images/background-cab.gif");
	background-repeat: repeat;
}

header h2 span, header a{
	text-transform: none;
	text-shadow: none !important;
}

/*** Iconos ***/

.position-ico{
	background-repeat: no-repeat;
	background-position: left;
	background-size:30px;
	padding-left: 40px;
	padding-top: 10px;
	height: 30px;
}

.ico-mas-buscados{
	background-image: url("../images/ico-mas-buscados.png");
}

.ico-mas-ofertado{
	background-image: url("../images/ico-mas-ofertado.png");
}

.ico-tema{
	background-image: url("../images/ico-tema.png");
}

.ico-autor{
	background-image: url("../images/ico-autor.png");
}

/*** Votaci—n estrellas ***/

.rating {
	unicode-bidi: bidi-override;
	direction: rtl;
}

.rating > a {
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.rating > a:hover,
.rating > a:hover ~ a {
	color: transparent;
}

.rating > a:hover:before,
.rating > a:hover ~ a:before {
	content: "\2605";
	position: absolute;
	left: 0;
	color: #f60;
}

/*** Estilos espec’ficos ***/

.home-list{
	padding-left: 30px;
    color: #ff6600;
}

.home-list li {
    margin-bottom: 4px;
}

#header-slogan span {
	font-size: 32px;
    font-weight: bold;
	color: white;
}

#header-slogan-interior span {
	font-size: 28px;
    font-weight: bold;
	color: white;
}

#main-section h4.condensed, #search-section h4.condensed {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-transform: none;
}

#main-section h4{
	font-weight: 300;
	text-transform: uppercase;
}

#search-button,
#add-button{
	background-color: #f60;
	color: white;
	border-style: none;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	padding: 4px 20px 4px;
	margin-top: 2px;
}

#menu-options .menu-creditos {
    background: #fff;
    color: #ff6600;
    font-weight: bold;
    border-radius: 20px;
    padding: 2px 6px;
}

#menu-options .dropdown {
    text-transform: uppercase;
}

#menu-options,
.no-bullets,
.horizontal-list{
	list-style: none;
	margin-top: 10px;
	padding: 0px;
}

#menu-options li, 
.horizontal-list li{
	display: inline;
	float: left;
	margin-right: 20px;
}

#menu-options>li>a{
	color: white;
	padding: 2px 10px 2px;
}

#menu-options>li>a>i{
	margin-top: 3px;
}

#menu-options>li>.login-option{
	background-color: #1E7681;
	color: white;
	text-shadow: none;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}

.login-option>.caret {
	border-top-color: white !important;
	border-bottom-color: white !important;
}

#search-info>span{
	margin: 10px;
	font-size: 24px;
}

.profile-tab-content h5{
	color: #1E7681;
}