
.indent {
	margin-left: 0px;
}

.row-top-separator {
	margin-top: 20px;
}

.row-bottom-separator{
	margin-bottom: 20px;
}

.row-top-bottom-separator {
	margin-top: 20px;
	margin-bottom: 20px;
}

.span-center {
	margin: 0 auto;
	float: none;
}

body{
	background-color: white;
	font-family: 'Open Sans', sans-serif;
}

header{
	background-color: green;
	color: white;
}

header a{
	color: white;
}

.grey-background{
	background-color: #fafafa;
}

#main-section{
	
}

#login-options, #search-results, .horizontal-list{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#login-options li, .horizontal-list li{
	display: inline;
	float: left;
	margin-right: 20px;
}
