
.indent {
	margin-left: 0px;
}

.row-top-separator {
	margin-top: 20px;
}

.row-bottom-separator{
	margin-bottom: 20px;
}

.row-extra-bottom-separator{
    margin-bottom: 60px;
}

.row-top-bottom-separator {
	margin-top: 20px;
	margin-bottom: 20px;
}

.span-center {
	margin: 0 auto;
	float: none;
	text-align: center;
}

body{
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	color: #314351;
}

#main-section h4.condensed {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 23px;
    text-transform: none;
}

header{
	background-image: url("../images/background-cab.gif");
	background-repeat: repeat;
}

#header-slogan {
	font-weight: 300;
	text-transform: uppercase;
	color: white;
	font-size: 20px;
}

.grey-background{
	background-color:#EAEEEF;
}

.white-background{
	background-color:#FFFFFF;
}

#main-section h3{
	color: #f60;
}

#main-section h4{
	font-weight: 300;
	text-transform: uppercase;
}

#search-button{
	background-color: #f60;
	color: white;
	border-style: none;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	padding: 4px 20px 4px;
}

.position-ico{
	background-repeat: no-repeat;
	background-position: left;
	background-size:30px;
	padding-left: 40px;
	padding-top: 10px;
	height: 30px;
}

.ico-mas-buscados{
	background-image: url("../images/ico-mas-buscados.png");
}

.ico-mas-ofertado{
	background-image: url("../images/ico-mas-ofertado.png");
}

.ico-tema{
	background-image: url("../images/ico-tema.png");
}

.ico-autor{
	background-image: url("../images/ico-autor.png");
}

.home-list{
	padding-left: 30px;
    color:  #ff6600;
}

.home-list li {
    margin-bottom: 4px;
}

#menu-options {
    font-size: 0.9em;
}

#menu-options .menu-creditos {
    background: #fff;
    color: #ff6600;
    font-weight: bold;
    border-radius: 20px;
    padding: 2px 6px;
}

#menu-options .dropdown {
    text-transform: uppercase;
}

#menu-options,
.no-bullets,
.horizontal-list{
	list-style: none;
	margin-top: 10px;
	padding: 0px;
}

#menu-options li, 
.horizontal-list li{
	display: inline;
	float: left;
	margin-right: 20px;
}

#menu-options>li>a{
	color: white;
	padding: 2px 10px 2px;
}

#menu-options>li>a>i{
	margin-top: 3px;
}

#menu-options>li>.login-option{
	background-color: #1E7681;
	color: white;
	text-shadow: none;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}

.login-option>.caret {
	border-top-color: white !important;
	border-bottom-color: white !important;
}

#search-section .row {
    width: 1170px;
    margin: 20px auto;
}

#search-info>span{
	margin: 10px;
	font-size: 24px;
}

#search-results{
	background-color: white;
}

#search-results tbody tr td {
    padding-left: 1em;
    padding-right: 1em;
}

.profile-tab-content{
	background-color: white;
	margin-top: -20px;
	margin-left: 0px;
	padding: 20px;
}

.icon-17px{
	font-size: 17px;
}

.icon-24px{
	font-size: 24px;
}

.color-white{
	color: white;
}

.color-orange{
	color: #f60;
}

.separador-acciones {
    margin-top: 4px;
}
