
.indent {
	margin-left: 0px;
}

.row-top-separator {
	margin-top: 20px;
}

.row-bottom-separator{
	margin-bottom: 20px;
}

.row-top-bottom-separator {
	margin-top: 20px;
	margin-bottom: 20px;
}

.span-center {
	margin: 0 auto;
	float: none;
}

body{
	background-color: #f0fafa;
}

#login-options{
	list-style: none;
}

#login-options li{
	display: inline;
	float: left;
	margin-right: 20px;
}
