#{extends 'main.html' /}
#{set title:'120minutos - Ficha de usuario' /}

<div class="row">
	<div class="span12 grey-background">
	
		<div class="row">
			<div class="span10 offset1">
            #{if user.email == session.username}
				<h3>
					Tu perfil <a class="btn" id="profile-info-button"><i class="icon-pencil color-orange icon-17px"></i></a>
				</h3>
            #{/if}
            #{else}
                <h3>Perfil de usuario</h3>
            #{/else}
			</div>
		</div>
		
		<div class="row" id="profile-info-view">
			<div class="span2 offset1">
				<img src="@{'/public/images/recurso-foto-ficha.gif'}" class="img-polaroid">
			</div>
			<div class="span8">
				<h4>${user.username}</h4>
				<p>
					${user.descripcion}
				</p>
			</div>
		</div>
		
		#{if user.email == session.username}
		<div class="row" id="profile-info-edit" style="display:none;">
			<form id="profile-info-edit-form" name="profile-info-edit" method="post">
				<div class="span2 offset1">
					<div class="control-group">
						<div id="profilePicture" class="fileupload fileupload-new" data-provides="fileupload">
							<div class="row">
								<div class="span2 fileupload-new thumbnail">
									<img src="@{'/public/images/recurso-foto-ficha.gif'}" class="img-polaroid" alt="Foto de perfil">
								</div>
								<div class="span2 fileupload-preview fileupload-exists thumbnail">
								</div>
							</div>
							<div class="row">
								<div class="span2">
									<span class="btn btn-file">
										<span class="fileupload-new">Examinar <i class="icon-folder-open color-orange"></i></span>
										<span class="fileupload-exists">Cambiar <i class="icon-refresh color-orange"></i></span>
										<input type="file" name="user.picture" id="user.picture" />
									</span>
								</div>
							</div>
							<div class="row row-mini-top-separator">
								<div class="span2">
									<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">
										Eliminar <i class="icon-remove color-orange"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="span8">
					<div class="control-group span6" id="username-field">
				    	<label class="control-label" for="user.username">Nombre de usuario</label>
				    	<div class="controls">
				    		<input type="text" id="user.username" name="user.username" value="${user.username}" placeholder="Ej: Juan L&oacute;pez" />		
				    	</div>
				    </div>
				    <div class="control-group span6" id="descripcion-field">
				    	<label class="control-label" for="user.descripcion">Biogra&iacute;a</label>
				    	<div class="controls">
				    		<textarea id="user.descripcion" name="user.descripcion" class="span6" rows="3" placeholder="Algo sobre t&iacute;...">${user.descripcion}</textarea>	
				    	</div>
				    </div>
				    <div class="control-group span6" id="submit-changes-field">
						<div class="pull-right">
							<button type="submit" id="submit-changes" class="btn">
								Ok <i class="icon-ok color-orange"></i>
							</button>
							<a href="#remove-profile-modal" role="button" data-toggle="modal" id="remove-profile" class="btn btn-danger">
								Eliminar Cuenta <i class="icon-remove color-white"></i>
							</a>
							<!-- Modal Remove Profile -->
							<div id="remove-profile-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h4>Eliminar cuenta</h4>
								</div>
								<div class="modal-body">
									<p>Est&aacute;s seguro de que quieres eliminar la cuenta? Te enviaremos un mensaje a tu correo electr&oacute;nico con un enlace para que puedas eliminar tu cuenta.</p>
								</div>
								<div class="modal-footer">
									<button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar <i class="icon-remove color-orange"></i></button>
									<button class="btn">Aceptar <i class="icon-ok color-orange"></i></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		#{/if}
		
		<div class="row row-top-bottom-separator">
			<div class="span10 offset1">
				<div class="tabbable"> <!-- Only required for left/right tabs -->
					<ul class="nav nav-tabs">
                        #{if user.email == session.username}
                            <li>
                                <a href="#ensenando" data-toggle="tab">Estoy ense&ntilde;ando</a>
                            </li>
                            <li>
                                <a href="#aprendiendo" data-toggle="tab">Estoy aprendiendo</a>
                            </li>
                        #{/if}
						<li>
							<a href="#puedo" data-toggle="tab">Puedo ense&ntilde;ar</a>
						</li>
                        #{if user.email == session.username}
                            <li>
                                <a href="#quiero" data-toggle="tab">Quiero aprender</a>
                            </li>
                        #{/if}
					</ul>
					
					<div class="tab-content profile-tab-content white-background padding10px">

                    #{if user.email == session.username}
						<div class="tab-pane active" id="ensenando">
							<table class="table table-condensed">
								<thead>
									<tr>
										<th>
											<h4 class="position-ico ico-tema">Tema</h4>
										</th>
										<th>
											<h4 class="position-ico ico-autor">Interesado</h4>
										</th>
										<th>
											&nbsp;
										</th>
									</tr>
								</thead>
								<tbody>
									#{list items:user.findEncuentrosOfrecidos(), as:'encuentroComoOfertante'}
									<tr>
										<td>
											<h5>
							        			${encuentroComoOfertante.tema.titulo}
							        		</h5>
							        		<p>
							        			${encuentroComoOfertante.tema.descripcion}
							        		</p>
										</td>
										<td>
											<h5>
												<a href="@{User.ficha(encuentroComoOfertante.interesado.id)}#puedo">
							        				${encuentroComoOfertante.interesado.username}
							        			</a>
							        		</h5>
										</td>
										<td>
                                            <h5></h5>

                                            #{if (encuentroComoOfertante.estadoExperto == models.Encuentro.Estado.Solicitado)}
												<a href="@{Admin.confirmarEncuentro(encuentroComoOfertante.id)}">
													<i class="icon-ok"></i> Confirmar
												</a>
												<div class="separador-acciones"></div>
												<a href="@{Admin.rechazarEncuentro(encuentroComoOfertante.id)}">
													<i class="icon-remove"></i> Rechazar
												</a>
											#{/if}
											#{elseif ((encuentroComoOfertante.estadoExperto == models.Encuentro.Estado.Rechazado))}
												<span class="label label-important">Rechazado</span>
											#{/elseif}
											#{elseif ((encuentroComoOfertante.estadoExperto == models.Encuentro.Estado.Cancelado))}
												<span class="label label-important">Cancelado</span>
											#{/elseif}
											#{elseif ((encuentroComoOfertante.estadoExperto == models.Encuentro.Estado.Aceptado))}
												<a href="@{Admin.finalizarEncuentroOfertante(encuentroComoOfertante.id)}">
													<i class="icon-ok"></i> Finalizar
												</a>
											#{/elseif}
											#{elseif ((encuentroComoOfertante.estadoExperto == models.Encuentro.Estado.Finalizado))}
												<h5>
								        			Puntua el encuentro
								        		</h5>
								        		<div class="rating">
													<a href="@{Admin.puntuarEncuentroOfertante(encuentroComoOfertante.id,5)}"><i class="icon-star icon-17px"></i></a>
													<a href="@{Admin.puntuarEncuentroOfertante(encuentroComoOfertante.id,4)}"><i class="icon-star icon-17px"></i></a>
													<a href="@{Admin.puntuarEncuentroOfertante(encuentroComoOfertante.id,3)}"><i class="icon-star icon-17px"></i></a>
													<a href="@{Admin.puntuarEncuentroOfertante(encuentroComoOfertante.id,2)}"><i class="icon-star icon-17px"></i></a>
													<a href="@{Admin.puntuarEncuentroOfertante(encuentroComoOfertante.id,1)}#"><i class="icon-star icon-17px"></i></a>
												</div>
											#{/elseif}
											#{elseif ((encuentroComoOfertante.estadoExperto == models.Encuentro.Estado.Votado))}
                                                <p>Votaste ${encuentroComoOfertante.puntuacionInteresado}</p>
								        		<div class="rating">
													<span><i class="icon-star icon-17px"></i></span>
													<span><i class="icon-star icon-17px"></i></span>
													<span><i class="icon-star icon-17px"></i></span>
													<span><i class="icon-star icon-17px"></i></span>
													<span><i class="icon-star icon-17px"></i></span>
												</div>
											#{/elseif}
										</td>
									</tr>
									#{/list}
								</tbody>
							</table>
						</div>
						<div class="tab-pane active" id="aprendiendo">							
							<table class="table table-condensed">
								<thead>
									<tr>
										<th>
											<h4 class="position-ico ico-tema">Tema</h4>
										</th>
										<th>
											<h4 class="position-ico ico-autor">Usuario</h4>
										</th>
										<th>
											&nbsp;
										</th>
									</tr>
								</thead>
								<tbody>
									#{list items:user.encuentrosSolicitados, as:'encuentroComoSolicitante'}
									<tr>
										<td>
											<h5>
							        			${encuentroComoSolicitante.tema.titulo}
							        		</h5>
							        		<p>
							        			${encuentroComoSolicitante.tema.descripcion}
							        		</p>
										</td>
										<td>
											<h5>
												<a href="@{User.ficha(encuentroComoSolicitante.tema.experto.id)}#puedo">
							        				${encuentroComoSolicitante.tema.experto.username}
							        			</a>
							        		</h5>
										</td>
										<td>
											#{if (encuentroComoSolicitante.estadoInteresado == models.Encuentro.Estado.Solicitado)}
											        <span class="label label-info">Esperando confirmacion</span>
                                                    <div class="separador-acciones"></div>
											        <a href="@{Admin.cancelarEncuentro(encuentroComoSolicitante.id)}">
											        	<i class="icon-remove"></i> Cancelar
											        </a>
											#{/if}
											#{elseif ((encuentroComoSolicitante.estadoInteresado == models.Encuentro.Estado.Rechazado))}
													<span class="label label-important">Rechazado</span>
											#{/elseif}
											#{elseif ((encuentroComoSolicitante.estadoInteresado == models.Encuentro.Estado.Cancelado))}
													<span class="label label-important">Cancelado</span>
											#{/elseif}
											#{elseif ((encuentroComoSolicitante.estadoInteresado == models.Encuentro.Estado.Aceptado))}
													<a href="@{Admin.finalizarEncuentroSolicitante(encuentroComoSolicitante.id)}">
														<i class="icon-ok"></i> Finalizar
													</a>
											#{/elseif}
											#{elseif ((encuentroComoSolicitante.estadoInteresado == models.Encuentro.Estado.Finalizado))}
													<h5>
									        			Puntua el encuentro
									        		</h5>
									        		<div class="rating">
														<a href="@{Admin.puntuarEncuentroSolicitante(encuentroComoSolicitante.id,5)}"><i class="icon-star icon-17px"></i></a>
														<a href="@{Admin.puntuarEncuentroSolicitante(encuentroComoSolicitante.id,4)}"><i class="icon-star icon-17px"></i></a>
														<a href="@{Admin.puntuarEncuentroSolicitante(encuentroComoSolicitante.id,3)}"><i class="icon-star icon-17px"></i></a>
														<a href="@{Admin.puntuarEncuentroSolicitante(encuentroComoSolicitante.id,2)}"><i class="icon-star icon-17px"></i></a>
														<a href="@{Admin.puntuarEncuentroSolicitante(encuentroComoSolicitante.id,1)}"><i class="icon-star icon-17px"></i></a>
													</div>
											#{/elseif}
											#{elseif ((encuentroComoSolicitante.estadoInteresado == models.Encuentro.Estado.Votado))}
                                                    <p>Votaste ${encuentroComoSolicitante.puntuacionExperto}</p>
									        		<div class="rating">
														<span><i class="icon-star icon-17px"></i></span>
														<span><i class="icon-star icon-17px"></i></span>
														<span><i class="icon-star icon-17px"></i></span>
														<span><i class="icon-star icon-17px"></i></span>
														<span><i class="icon-star icon-17px"></i></span>
													</div>
											#{/elseif}
										</td>
									</tr>
									#{/list}
								</tbody>
							</table>
							
						</div>

                        #{/if}
						<div class="tab-pane" id="puedo">
							<table class="table table-condensed">
								<thead>
									<tr>
										<th>
											<h4 class="position-ico ico-tema">Temas de los que puedo ense&ntilde;ar</h4>
										</th>
										<th>
											&nbsp;
										</th>
									</tr>
								</thead>
								<tbody>
									#{list items:user.temas, as:'tema'}
									<tr>
										<td>
											<h5>
							        			<a href="/">
							        				${tema.titulo}
							        			</a>
							        		</h5>
							        		<p>
							        			${tema.descripcion}
							        		</p>
										</td>
                                    #{if user.email == session.username}
										<td>
											<a href="#"><i class="icon-remove"></i> Eliminar</a>
                                            <div class="separador-acciones"></div>
											<a href="#"><i class="icon-pencil"></i> Editar</a>
										</td>
                                    #{/if}
									</tr>
									#{/list}
                                    #{if user.email == session.username}
                                        <tr>
                                            <td colspan="2">
                                                
                                                <h4 class="position-ico ico-tema" style="cursor:pointer;">
										        	<a id="add-topic-link">
										        		A&ntilde;adir tema
										        	</a>
										        </h4>
                                                
                                                #{ifErrors}
                                                    <div class="alert alert-error">
                                                    	${errors[0]}
                                                    </div>
                                                #{/ifErrors}
												
												<div id="add-topic-form" style="display:none;">
	                                                #{form @User.add_tema()}
	                                                    <div class="control-group">
	                                                    	<label for="titulo">Dinos lo que puedes ense&ntilde;ar en 120 minutos</label>
	                                                    	<input id="titulo" name="tema.titulo" value="${flash['tema.titulo']}" type="text" size="140" />
	                                                    </div>
	                                                    <div class="control-group">
	                                                    	<label for="descripcion">Describe un poco m&aacute;s c&oacute;mo lo vas a hacer</label>
	                                                    	<textarea id="descripcion" name="tema.descripcion" value="${flash['tema.descripcion']}" type="text" size="140"></textarea>
														</div>
														<div class="control-group">
	                                                    	<button type="submit" class="btn">
	                                                    		A&ntilde;adir tema <i class="icon-plus color-orange"></i>
	                                                    	</button>
														</div>
	                                                #{/form}
												</div>
                                            </td>
                                        </tr>
                                    #{/if}
								</tbody>
							</table>
						</div>

                    #{if user.email == session.username}
						<div class="tab-pane" id="quiero">
							<table class="table table-condensed">
								<thead>
									<tr>
										<th>
											<h4 class="position-ico ico-tema">Cosas que me interesa aprender</h4>
										</th>
										<th>
											&nbsp;
										</th>
									</tr>
								</thead>
								<tbody>
									#{list items:user.intereses, as:'interes'}
									<tr>
										<td>
											<h5>
							        			<a href="/">
							        				${interes.texto}
							        			</a>
							        		</h5>
										</td>
										<td>
                                            <h5></h5>
											<a href="#"><i class="icon-remove"></i> Eliminar</a>
										</td>
									</tr>
									#{/list}
								</tbody>
							</table>
						</div>
                    #{/if}
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
