#{extends 'main.html' /}
#{set title:'120minutos - Quienes Somos' /}
<div class="row">
	<div class="span12 grey-background">
		<div class="row row-top-bottom-separator">
			<div class="span10 offset1 white-background">
				<div class="row row-top-separator">
					<div class="span8 offset1 row-top-separator">
						<h3>Como funciona 120 minutos</h3>
					</div>
				</div>
				<div class="row row-bottom-separator">
					<div class="span8 offset1 row-bottom-separator">
						<ul>
							<li><b>Encuentra</b> algo de tu interés para aprender y <b>ofrece</b> algo que puedas enseñar.</li>
							<li>Puedes enseñar y aprender <b>cualquier cosa</b>: programación, calceta, dibujo,...</li>
							<li>Si encuentras a alguien que quiere enseñarte y tu también puedes enseñarle... <b>BINGO!!</b></li>
							<li>Intercambia dos horas de conocimiento con ese usuario. <b>Dispones de dos horas</b> para enseñarle lo que sabes y recibirás 2 horas de conocimiento sobre el tema de tu interés.</li>
							<li>Inicialmente <b>tienes 1 credito</b> que puedes mantener si encuentras un intercambio.</li>
							<li>Si te interesa algo que te ofrecen pero no puedes intercambiar puedes utilizar 1 credito que pasará a la cuenta de la persona que te enseñe.</li>
							<li>Si te quedas sin créditos puedes ganar más enseñando sobre lo que controles a los demás.</li>
							<li>Si enseñar no es lo tuyo pero quieres aprender algo también damos la posibilidad de <b>comprar créditos</b>.</li>
							<li>Si solicitas un encuentro y el usuario que te enseñará lo confirma, os pondremos en contacto por email para que podais quedar.</li>
							<li>Una vez finalizado el encuentro no olvideis volver a <b>120minutos.org</b> para valorar y cerrar el encuentro.</li>
						</ul>
						<h3>¡Disfruta del intercambio!</h3>
						<p>¿Tienes alguna duda o sugerencia? Ponte en <a href="@{Application.quienes_somos()}">contacto</a> con nosotros.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>