#{extends 'main.html' /}
#{set title:'120minutos - Inicio' /}

<div class="row row-top-bottom-separator">
    <div class="span8 offset2">
        <h1>120minutes</h1>
        <p>Comparte lo que sabes en 2 horas</p>
    </div>
</div>

<div class="row row-top-bottom-separator">
    <div class="span8 span-center">
        #{form @Application.search()}
            <p>¿Qué quieres aprender?</p>

            <input id="search-box" name="terms" type="text" class="input-xxlarge search-query" placeholder="Por ejemplo: HTML5, Calceta, cocina mediterránea...">
            <button type="submit" class="btn">
                Buscar <i class="icon-search"></i>
            </button>
        #{/form}
    </div>
</div>

<hr />

<div class="row row-top-bottom-separator">
    <div class="span5 offset1">
        <h4>Lo más buscado</h4>
        <ul>
        	#{list items:masBuscados, as:'buscado'}
            <li>
                <a href="#" title="quienes somos">${buscado.titulo} (${buscado.repeticiones})</a>
            </li>
            #{/list}
        </ul>
    </div>
    <div class="span5 offset1">
        <h4>Lo más ofertado</h4>
        <ul>
            #{list items:masOfertados, as:'ofertado'}
                <li>
                    <a href="#" title="quienes somos">${ofertado.titulo} (${ofertado.repeticiones})</a>
                </li>
            #{/list}
        </ul>
    </div>
</div>

<hr />
