#{extends 'main.html' /}
#{set title:'120minutos - Inicio' /}


<div class="row row-top-bottom-separator">
    <div class="span4 span-center">
        <h1>120minutes</h1>
        <p>Comparte lo que sabes en 2 horas</p>
    </div>
</div>
</div>

<div class="row row-top-bottom-separator">
    <div class="span8 span-center">
        <form class="form-search">
            <p>¿Qué quieres aprender?</p>
            <input id="search-box" type="text" class="input-xxlarge search-query" placeholder="Por ejemplo: HTML5, Calceta, cocina mediterránea...">
            <button type="submit" class="btn">
                Buscar <i class="icon-search"></i>
            </button>
        </form>
    </div>
</div>

<div class="row row-top-bottom-separator">
    <hr />
</div>

<div class="row row-top-bottom-separator">
    <div class="span5 offset1">
        <h4>Lo más buscado</h4>
        <ul>
            <li>
                <a href="#" title="quienes somos">Punto de cruz con hilos de colores</a>
            </li>
            <li>
                <a href="#" title="quienes somos">HTML5</a>
            </li>
            <li>
                <a href="#" title="quienes somos">Programación en JAVA</a>
            </li>
            <li>
                <a href="#" title="quienes somos">Usar vectores en ilustrator</a>
            </li>
        </ul>
    </div>
    <div class="span5 offset1">
        <h4>Lo más ofertado</h4>
        <ul>
            <li>
                <a href="#" title="quienes somos">Fotografía (25)</a>
            </li>
            <li>
                <a href="#" title="quienes somos">HTML5(18)</a>
            </li>
            <li>
                <a href="#" title="quienes somos">COCKTELERÍA (15)</a>
            </li>
        </ul>
    </div>
</div>

<div class="row row-top-bottom-separator">
    <hr />
</div>