#{extends 'main.html' /}
#{set title:'120minutos - Inicio' /}

<div class="row row-top-bottom-separator">
    <div class="span8 offset2">
        <form class="form-search">
            <p>¿Qué quieres aprender?</p>
            <input id="search-box" type="text" class="input-xxlarge search-query" placeholder="Por ejemplo: HTML5, Calceta, cocina mediterránea...">
            <button type="submit" class="btn">
                Buscar <i class="icon-search"></i>
            </button>
        </form>
    </div>
</div>

<hr />

<div class="row row-top-bottom-separator">
    <div class="span5 offset1">
        <h4>Lo más buscado</h4>
        <ul>
            <li>
                <a href="#" title="quienes somos">Punto de cruz con hilos de colores</a>
            </li>
            <li>
                <a href="#" title="quienes somos">HTML5</a>
            </li>
            <li>
                <a href="#" title="quienes somos">Programación en JAVA</a>
            </li>
            <li>
                <a href="#" title="quienes somos">Usar vectores en ilustrator</a>
            </li>
        </ul>
    </div>
    <div class="span5 offset1">
        <h4>Lo más ofertado</h4>
        <ul>
            #{list items:masOfertados, as:'ofertado'}
                <li>
                    <a href="#" title="quienes somos">${ofertado.titulo} (${ofertado.repeticiones})</a>
                </li>
            #{/list}
        </ul>
    </div>
</div>

<hr />