#{extends 'main.html' /}
#{set title:'needstack: Sign Up Page' /}

<div id="subheader"></div>
<div id="content" class="big-padding">
    <h1 class="nobr">Recupera tu contraseña</h1><p class="nobr">o vuelve a <a href="@{Secure.login}">Entrar</a></p>
    <p>Dinos el correo electrónico que diste cuando te registraste y te enviaremos una nueva contraseña temporal</p>

    <form action="@{Application.recover_password()}" class="inner-combo">

    #{ifErrors}
        <p class="error">
        ${errors[0]}
        </p>
    #{/ifErrors}
    #{if flash.error}
        <p class="error">${flash.error}</p>
    #{/if}
    #{if flash.success}
        <p class="success">${flash.success}</p>
    #{/if}

        <div class="form-item">
            <label>Correo electrónico</label>
            <input type="text" name="email" id="email" value="${flash['email']}" size="35"></input>
        </div>
        <input type="submit" value="enviame una nueva contraseña"></input>

    </form>
</div>