#{extends 'main.html' /}
#{set title:'He olvidado mi clave' /}

<div class="row row-top-bottom-separator">
	<div class="span10 offset1">
		<h3>Recupera tu contrase&ntilde;a</h3>
		<p>
			O vuelve a <a href="@{Secure.login}">Entrar</a>
		</p>
		<p>
			Dinos el correo electr&oacute;nico que diste cuando te registraste y te enviaremos una nueva contrase&ntilde;a temporal
		</p>
		
		#{ifErrors}
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<span>${errors[0]}</span>
		</div>
		#{/ifErrors}
		#{if flash.error}
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<span>${flash.error}</span>
		</div>
		#{/if}
		#{if flash.success}
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<span>${flash.success}</span>
		</div>
		#{/if}
		
		<form action="@{Application.recover_password()}" class="inner-combo">
		    <div class="control-group" id="username-field">
		    	<label class="control-label" for="email">Correo electr&oacute;nico</label>
		    	<div class="controls">
		    		<input type="text" name="email" id="email" value="${flash['email']}" size="35" placeholder="Email"></input>
		    	</div>
		    </div>
		    <div class="control-group" id="signin-field">
				<div class="controls">
					<button id="remember-search" class="btn" type="submit">
						Enviar <i class="icon-ok color-orange"></i>
					</button>
				</div>
			</div>
		</form>
		
	</div>
</div>