#{extends 'main.html' /}
#{set title:'120minutos - Quienes Somos' /}

<div class="row row-top-bottom-separator">
	<div class="span10 offset1 white-background">
		<div class="padding20px">
			<h3 class="color-orange">Quienes somos</h3>
			<p>
				Somos Carlos, Marga, Luis y Dani! <b>120minutos.org</b> naci&oacute; en <a href="http://theappteam.org">theAppTeam.org</a>
			</p>
			<p>Puedes ponerte en contacto con nosotros a trav&eacute;s de nuestro email de contacto.</p>
			<h4>hola@120minutos.org</h4>
		</div>
	</div>
</div>
