#{extends 'main.html' /}
#{set title:'120minutos - Resultados de búsqueda' /}

<div class="row">
	<div class="span12">
	
		<div class="row">
			<div class="span10 offset1">
                #{if request.action=="Admin.index"}
                    <h3>Cosas que te pueden interesar</h3>
                #{/if}
                #{else}
				    <h3>${flash['terms']}</h3>
                #{/else}
				<p id="search-info">Hemos encontrado <span>${temas.size()}</span> resultados</p> 
			</div>
		</div>
		<div class="row">
			<div class="span10 offset1">
				
				#{ifnot temas.empty}
				<table id="search-results" class="table table-condensed">
					<thead>
						<tr>
							<th>
								<h4 class="position-ico ico-tema">Tema</h4>
							</th>
							<th>
								<h4 class="position-ico ico-autor">Usuario</h4>
							</th>
							<th>
								&nbsp;
							</th>
						</tr>
					</thead>
					<tbody>
						#{list items:temas, as:'tema'}
						<tr>
							<td>
								<h5>
		        					<a href="#modal-${tema.id}" role="button" data-toggle="modal">
		        						${tema.titulo}
		        					</a>
				        		</h5>
				        		<!-- Modal -->
								<div id="modal-${tema.id}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										<h4>¿Quieres aprender ${tema.titulo}?</h4>
									</div>
									<div class="modal-body">
										<p>Enviaremos un email a ${tema.experto.username} informandole de tu interés en aprender ${tema.titulo}. Si acepta os pondremos en contacto por email para que podáis quedar. Mucha suerte!.</p>
										<a href="@{Admin.solicitarEncuentro(tema.id)}" class="open-modal">
			        						Enviar mail <i class="icon-envelope"></i>
			        					</a>
									</div>
									<div class="modal-footer">
										<button class="btn" data-dismiss="modal" aria-hidden="true">
											Cerrar <i class="icon-remove"></i>
										</button>
									</div>
								</div>
				        		<p>
				        			${tema.descripcion}
				        		</p>
							</td>
							<td>
								<h5>
				        			<a href="@{User.ficha(tema.experto.id)}#puedo">
				        				${tema.experto.username}
				        			</a>
				        		</h5>
				        		<div class="rating">
									<span><i class="icon-star icon-17px"></i></span>
									<span><i class="icon-star icon-17px"></i></span>
									<span><i class="icon-star color-orange icon-17px"></i></span>
									<span><i class="icon-star color-orange icon-17px"></i></span>
									<span><i class="icon-star color-orange icon-17px"></i></span>
								</div>
							</td>
							<td>

								<div>
				        			<ul class="no-bullets pull-right">
				        				<li>
                                            #{ifnot tema.posiblesIntercambios(session.username).empty}
                                                <i class="icon-heart color-orange icon-17px"></i> Posible intercambio!
                                            #{/ifnot}
				        				</li>
				        				<li>
				        					<i class="icon-map-marker icon-17px"></i> Aprox. 20km 
				        				</li>
				        			</ul>
				        		</div>
							</td>
						</tr>
						#{/list}
					</tbody>
				</table>
				#{/ifnot}
				#{else}	
			   		<div class="alert alert-block span-center">
		  				<button type="button" class="close" data-dismiss="alert">&times;</button>
		  				<strong><i class="icon-warning-sign"></i> Rayos!!</strong> No hay ning&uacute;n usuario que controle de lo que est&aacute;s buscando :(
					</div>
			    #{/else} 
			</div>
		</div>
		<div class="row row-top-bottom-separator">
			<div class="span10 offset1">
				<div class="alert alert-success span-center">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
	                <strong>Recuerda!!</strong> <span>Puedes guardar esta búsqueda en la <a href="@{User.ficha()}#quiero">lista de cosas que te interesa aprender</a> para aumentar las posibilidades de intercambio</span>
	                #{form @User.add_interes(busqueda)}
	                   	<button id="remember-search" class="btn padding10px row-top-separator" type="submit">
	                   		Guardar esta busqueda <i class="icon-pushpin color-orange"></i>
	                   	</button>
	                #{/form}
                </div>
			</div>
		</div>
		
	</div>
</div>
