#{extends 'main.html' /}
#{set title:'120minutos - Resultados de búsqueda' /}

<div class="row row-top-bottom-separator">
    <div class="span8 offset2">
        #{form @Application.search()}
            <h4 id="search-title">Que quieres aprender?</h4>
            <input id="search-box" name="terms" type="text" class="input-xxlarge search-query" placeholder="Por ejemplo: HTML5, Calceta, cocina mediterránea..." value="${flash['terms']}">
            <button type="submit" id="search-button">
                Buscar <i class="icon-search icon-white"></i>
            </button>
        #{/form}
    </div>
</div>

<div class="row">
	<div class="span12 grey-background">
	
		<div class="row">
			<div class="span10 offset1">
				<h3>${flash['terms']}</h3>
				<p id="search-info">Hemos encontrado <span>${temas.size()}</span> resultados</p> 
			</div>
		</div>
		<div class="row">
			<div class="span10 offset1">
				
				#{ifnot temas.empty}
				<table id="search-results" class="table table-condensed">
					<thead>
						<tr>
							<th>
								<h4 class="position-ico ico-tema">Tema</h4>
							</th>
							<th>
								<h4 class="position-ico ico-autor">Usuario</h4>
							</th>
							<th>
								&nbsp;
							</th>
						</tr>
					</thead>
					<tbody>
						#{list items:temas, as:'tema'}
						<tr>
							<td>
								<h5>
				        			<a href="@{Admin.solicitarEncuentro(tema.id)}">
		        						${tema.titulo}
		        					</a>
				        		</h5>
				        		<p>
				        			${tema.descripcion}
				        		</p>
							</td>
							<td>
								<h5>
				        			<a href="@{User.ficha(tema.experto.id)}#puedo">
				        				${tema.experto.username}
				        			</a>
				        		</h5>
				        		<div>
				        			<span class="rating">
										<span class="icon-star color-orange"></span>
										<span class="icon-star color-orange"></span>
										<span class="icon-star color-orange"></span>
										<span class="icon-star"></span>
										<span class="icon-star"></span>
									</span>
				        		</div>
							</td>
							<td>
								<h5>
									&nbsp;
								</h5>
								<div>
				        			<ul class="no-bullets pull-right">
				        				<li>
                                            #{ifnot tema.posiblesIntercambios(session.username).empty}
                                                <i class="icon-heart color-orange icon-17px"></i> Posible intercambio!
                                            #{/ifnot}
				        				</li>
				        				<li>
				        					<i class="icon-map-marker icon-17px"></i> Aprox. 20km 
				        				</li>
				        			</ul>
				        		</div>
							</td>
						</tr>
						#{/list}
					</tbody>
				</table>
				#{/ifnot}
				#{else}	
			   		<div class="alert">
		  				<button type="button" class="close" data-dismiss="alert">&times;</button>
		  				<strong><i class="icon-warning-sign"></i> Rayos!</strong> No hay ningún usuario que controle de lo que estás buscando :(
					</div>
			    #{/else}

                
			</div>
		</div>
		<div class="row">
			<div class="span10 offset1">
                #{form @User.add_interes(busqueda)}
                   	<button id="remember-search" class="btn" type="submit">
                   		<i class="icon-pushpin"></i> Recuerda esta busqueda
                   	</button>
                #{/form}
			</div>
		</div>
		
	</div>
</div>
