#{extends 'main.html' /}
#{set title:'120minutos - Resultados de búsqueda' /}

<div class="row">
	<div class="span12">
	
		<div class="row">
			<div class="span10 offset1">
				<h3>${flash['terms']}</h3>
				<p id="search-info">Hemos encontrado <span>${temas.size()}</span> resultados</p> 
			</div>
		</div>
		<div class="row">
			<div class="span10 offset1">
				
				#{ifnot temas.empty}
				<table id="search-results" class="table table-condensed">
					<thead>
						<tr>
							<th>
								<h4 class="position-ico ico-tema">Tema</h4>
							</th>
							<th>
								<h4 class="position-ico ico-autor">Usuario</h4>
							</th>
							<th>
								&nbsp;
							</th>
						</tr>
					</thead>
					<tbody>
						#{list items:temas, as:'tema'}
						<tr>
							<td>
								<h5>
		        					<a href="#modal-${tema.id}" role="button" data-toggle="modal">
		        						${tema.titulo}
		        					</a>
				        		</h5>
				        		<!-- Modal -->
								<div id="modal-${tema.id}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										<h4>${tema.titulo}</h4>
									</div>
									<div class="modal-body">
										<p>Te ponemos en contacto con ${tema.experto.username}, a ambos enviamos un mail para que aprendais. Muchas gracias.</p>
										<a href="@{Admin.solicitarEncuentro(tema.id)}" class="open-modal">
			        						Enviar mail
			        					</a>
									</div>
									<div class="modal-footer">
										<button class="btn" data-dismiss="modal" aria-hidden="true">
											<i class="icon-remove"></i> Cerrar
										</button>
									</div>
								</div>
				        		<p>
				        			${tema.descripcion}
				        		</p>
							</td>
							<td>
								<h5>
				        			<a href="@{User.ficha(tema.experto.id)}#puedo">
				        				${tema.experto.username}
				        			</a>
				        		</h5>
				        		<div>
				        			<span class="rating">
										<span class="icon-star color-orange"></span>
										<span class="icon-star color-orange"></span>
										<span class="icon-star color-orange"></span>
										<span class="icon-star"></span>
										<span class="icon-star"></span>
									</span>
				        		</div>
							</td>
							<td>

								<div>
				        			<ul class="no-bullets pull-right">
				        				<li>
                                            #{ifnot tema.posiblesIntercambios(session.username).empty}
                                                <i class="icon-heart color-orange icon-17px"></i> Posible intercambio!
                                            #{/ifnot}
				        				</li>
				        				<li>
				        					<i class="icon-map-marker icon-17px"></i> Aprox. 20km 
				        				</li>
				        			</ul>
				        		</div>
							</td>
						</tr>
						#{/list}
					</tbody>
				</table>
				#{/ifnot}
				#{else}	
			   		<div class="alert">
		  				<button type="button" class="close" data-dismiss="alert">&times;</button>
		  				<strong><i class="icon-warning-sign"></i> Rayos!</strong> No hay ning√∫n usuario que controle de lo que est√°s buscando :(
					</div>
			    #{/else}

                
			</div>
		</div>
		<div class="row">
			<div class="span10 offset1">
                No encuentras lo que buscas?, guarda esta búsqueda para aumentar las posibilidades de intercambio
                #{form @User.add_interes(busqueda)}
                   	<button id="remember-search" class="btn" type="submit">
                   		<i class="icon-pushpin"></i> Recuerda esta busqueda
                   	</button>
                #{/form}
			</div>
		</div>
		
	</div>
</div>
