<html>

<body>

${user.id} 
<h1>${user.username}</h1>
<h3>${user.descripcion}</h3>
<p>${user.email}</p>
<p>${user.creditos} creditos</p>
<p>Temas ofertados</p>
	<ul>
        #{list items:user.ofertados, as:'temaOfertado'}
       	<li>
        	<b>${temaOfertado.titulo}</b> (${temaOfertado.descripcion})
        </li>
        #{/list}
    </ul>
<p>Temas solicitados</p>
	<ul>
        #{list items:user.solicitados, as:'temaSolicitado'}
       	<li>
        	${temaSolicitado.titulo}
        </li>
        #{/list}
    </ul>
<p>Encuentros como ofertante</p>
	<ul>
        #{list items:user.encuentrosComoOfertante, as:'encuentroComoOfertante'}
       	<li>
        	<b>${encuentroComoOfertante.tema.titulo}</b> (${encuentroComoOfertante.solicitante.username})
        </li>
        #{/list}
    </ul>
<p>Encuentros como solicitante</p>
	<ul>
        #{list items:user.encuentrosComoSolicitante, as:'encuentroComoSolicitante'}
       	<li>
        	<b>${encuentroComoSolicitante.tema.titulo}</b> (${encuentroComoSolicitante.ofertante.username})
        </li>
        #{/list}
    </ul>
</body>
</html>