<!DOCTYPE html>

<html lang="es">

	<head>
	
		<title>120minutes - Inicio</title>
				
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="lang" content="es" />
		<meta name="DC.Language" content="Spanish" />
		<meta http-equiv="Content-Language" content="es" />		
		<meta name="Locality" content="Coru&ntilde;a, Espa&ntilde;a" />
		<meta name="VW96.objecttype" content="Homepage" />
		
		<meta name="title" content="120minutes.org - Inicio" />		
		<meta name="description" content="Comparte lo que sabes en 2 horas">
		<meta name="keywords" content="120minutes, conocimiento, compartir, intercambio, aprender">
		
		<meta name="origen" content="120minutes" />
		<meta name="author" content="120minutes">
		<meta name="DC.Creator" content="120minutes" />
		<meta name="organization" content="120minutes" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- jquery 1.7.1 -->
		<script src="js/jquery-1.7.1.min.js" type="text/javascript"></script>
		
		<!-- bootstrap -->
		<script src="js/bootstrap.min.js" type="text/javascript"></script>
		
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
		<!-- google fonts -->
		
		<link href="css/120m-bootstrap.min.css" rel="stylesheet">
		<link href="css/120m-bootstrap-responsive.min.css" rel="stylesheet">
		
		<!-- Page Style -->
		<link rel="stylesheet" type="text/css" href="css/120m-general.css" />
		
		<!-- favicon -->
		<link rel="icon" href="img/favicon.ico" type="image/x-icon">
		
	</head>
	
	<body>
	
		<header class="container">
			
			<div class="row row-top-bottom-separator">
				<div class="span4 offset8">
					<ul id="login-options" class="pull-right">
						<li>
							<a href="#" title="Registro">Registro</a> 
						</li>
						<li>
							<a href="#" title="Login">Login</a>
						</li>
					</ul>
				</div>
			</div>

		</header>
				
		<section class="container">
			
			<div class="row row-top-bottom-separator">
				<div class="span4 span-center">
  						<h1>120minutes</h1>
  						<p>Comparte lo que sabes en 2 horas</p> 
  					</div>  
				</div>
			</div>

			<div class="row row-top-bottom-separator">
				<div class="span8 span-center">
					<form class="form-search">
						<p>¿Qué quieres aprender?</p>
						<input id="search-box" type="text" class="input-xxlarge search-query" placeholder="Por ejemplo: HTML5, Calceta, cocina mediterránea...">
						<button type="submit" class="btn">
							Buscar <i class="icon-search"></i> 
						</button>
					</form>
				</div>
			</div>

			<div class="row row-top-bottom-separator">
				<hr />
			</div>

			<div class="row row-top-bottom-separator">
				<div class="span5 offset1">
					<h4>Lo más buscado</h4>
					<ul>
						<li>
							<a href="#" title="quienes somos">Punto de cruz con hilos de colores</a>
						</li>
						<li>
							<a href="#" title="quienes somos">HTML5</a>
						</li>
						<li>
							<a href="#" title="quienes somos">Programación en JAVA</a>
						</li>
						<li>
							<a href="#" title="quienes somos">Usar vectores en ilustrator</a>
						</li>
					</ul>
				</div>
				<div class="span5 offset1">
					<h4>Lo más ofertado</h4>
					<ul>
						<li>
							<a href="#" title="quienes somos">Fotografía (25)</a>
						</li>
						<li>
							<a href="#" title="quienes somos">HTML5(18)</a>
						</li>
						<li>
							<a href="#" title="quienes somos">COCKTELERÍA (15)</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="row row-top-bottom-separator">
				<hr />
			</div>
			
		</section><!-- container central-->
		
		<footer class="container">
			
			<div class="row row-top-bottom-separator">
				<div class="span12">
					<a href="#" title="quienes somos">¿Quienes somos?</a>
				</div>
			</div>
			
		</footer>
		
	</body>
</html>