<!DOCTYPE html>

<html lang="es">

<head>

    <title>#{get 'title' /}</title>

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="lang" content="es"/>
    <meta name="DC.Language" content="Spanish"/>
    <meta http-equiv="Content-Language" content="es"/>
    <meta name="Locality" content="Coru&ntilde;a, Espa&ntilde;a"/>
    <meta name="VW96.objecttype" content="Homepage"/>

    <meta name="title" content="120minutes.org - Inicio"/>
    <meta name="description" content="Comparte lo que sabes en 2 horas">
    <meta name="keywords" content="120minutes, conocimiento, compartir, intercambio, aprender">

    <meta name="origen" content="120minutes"/>
    <meta name="author" content="120minutes">
    <meta name="DC.Creator" content="120minutes"/>
    <meta name="organization" content="120minutes"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jquery 1.7.1 -->
    <script src="@{'/public/javascripts/jquery-1.7.1.min.js'}" type="text/javascript"></script>

    <!-- bootstrap -->
    <script src="@{'/public/javascripts/bootstrap.min.js'}" type="text/javascript"></script>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    #{get 'moreScripts' /}

    <!-- google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
    
    <link href="@{'/public/stylesheets/120m-bootstrap.min.css'}" rel="stylesheet">
    <link href="@{'/public/stylesheets/120m-bootstrap-responsive.min.css'}" rel="stylesheet">

    <!-- Page Style -->
    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/120m-general.css'}"/>

    #{get 'moreStyles' /}

    <!-- favicon -->
    <link rel="icon" href="@{'/public/images/favicon.png'}" type="image/x-icon">

</head>

<body>

    <header id="header" class="container">
		
		<div class="navbar">
			
			<div class="span4 offset4">
				<div class="row">
					<h1 class="span2 span-center">
						<a style="text-decoration:none;" class="brand" id="brand" href="/" title="120minutes.org" lang="es" hreflang="es">
							<img src="@{'/public/images/logo-portada.png'}" alt="120minutes.org">
						</a>
					</h1>
				</div>
				<div class="row">
					<h2 id="header-slogan"class="span5 hidden-phone">Comparte lo que sabes en 2 horas</h2>
				</div>
			</div>
		
			<ul id="login-options" class="nav pull-right">
				
				<li>
					<a href="/">Como funciona</a>
				</li>
				
				<li class="hidden-desktop">
					<a href="#">Registro</a>
				</li>
				
				<li class="dropdown visible-desktop">
					<a class="dropdown-toggle" href="#" data-toggle="dropdown">
						Registro <strong class="caret"></strong>
					</a>
					<div class="dropdown-menu">
						<div class="span3">
							
							<div class="row">
								<div class="span3">
									<h4>Registro</h4>
								</div>
							</div>

                                <form action="@{Application.signup()}" method="post">
								
								<div class="row">
									<div class="span3">
										<label for="reg-name">Usuario</label>
										<input id="reg-name" type="text" name="usuario.username" placeholder="Nombre de usuario" value="${flash['usuario.username']}" required="required"/>
									</div>
								</div>
								
								<div class="row">
									<div class="span3">
										<label for="reg-email">Correo electr&oacute;nico</label>
										<input id="reg-email" type="email" name="usuario.email" placeholder="Tu correo electr&oacute;nico" value="${flash['usuario.email']}" required="required"/>
									</div>
								</div>
								
								<div class="row">
									<div class="span3">
										<label for="reg-passwd">Contrase&ntilde;a</label>
										<input id="reg-passwd" type="password" placeholder="Contrase&ntilde;a" name="usuario.password" required="required"/>
									</div>
								</div>
								
								<div class="row">
									<div class="span3">
										<label for="reg-repasswd">Repetir Contrase&ntilde;a</label>
										<input id="reg-repasswd" type="password" name="repetirPassword" placeholder="Repetir Contrase&ntilde;a" required="required"/>
									</div>
								</div>

								<div class="row">
									<div class="span3">
										<button type="submit" class="btn">
											Registrarme <i class="icon-ok"></i>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</li>
				
				<li class="hidden-desktop">
					<a href="#">Login</a>
				</li>
				
				<li class="dropdown visible-desktop">
					<a class="dropdown-toggle" href="#" data-toggle="dropdown">
						Login <strong class="caret"></strong>
					</a>
					<div class="dropdown-menu">		
						<div class="span3">
							
							<div class="row">
								<div class="span3">
									<h4>Login</h4>
								</div>
							</div>


                            <form action="@{Secure.authenticate()}" class="inner-combo" method="POST">
								
								<div class="row">
									<div class="span3">
                                        <label for="username">&{'secure.username'}</label>
                                        <input type="email" name="username" id="username" value="${flash.username}" placeholder="Tu correo electr&oacute;nico" />
									</div>
								</div>
								
								<div class="row">
									<div class="span3">
                                        <label for="password">&{'secure.password'}</label>
                                        <input type="password" name="password" id="password" placeholder="Contrase&ntilde;a" value="" size="30" />
									</div>
								</div>
								
								<div class="row">
									<div class="span3">
                                        <input type="hidden" name="remember" id="remember" value="true"/>
									</div>
								</div>
								
								<div class="row">
									<div class="span3">
                                        <a href="@{Application.lost_password}">He olvidado mi contraseña</a>
									</div>
								</div>
								
								<div class="row">
									<div class="span3">
										<button type="submit" class="btn">
											Entrar <i class="icon-ok"></i>
										</button>
									</div>
								</div>
								
							</form>
						</div>
					</div>
				</li>
				
			</ul>
			
		</div>

    </header>

    <section id="main-section" class="container">
		#{doLayout /}
    </section>

    <footer class="container">

        <div class="row row-top-bottom-separator">
            <div class="span4">
                <a href="#" title="quienes somos">¿Quienes somos?</a>
            </div>
        </div>

    </footer>

</body>
</html>